
<div class = "sup">
    <button mat-button class="boton-sidebar">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  
  <div class="sidebar">
      <!--<img class="avatar" src="">-->
      <h1 class=name>Salud Soft </h1>
     
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" (click)='goPatients()'>
        <mat-icon>library_books</mat-icon>
        <span>Mis Pacientes</span>
      </button>
  
      <button mat-button class="menu-button" (click)='goExams()'>
        <mat-icon>assignment_ind</mat-icon>
        <span>Modulo de Examanes</span>
      </button>

      
  </div>