

<!-- aqui formulario-->

<div class="de">
  <h1>Datos Personales</h1>
</div>

  <div class="forms">
    <div class="name">
      <label >Nombre</label>
      <input type="text" id="name_input" value="{{paciente.nombre}}" readonly>
    </div>
    <div class="email">
      <label>Genero</label>
      <input type="text" id="name_input" value="{{paciente.genero}}" readonly>
    </div>
    <div class="name">
      <label>Correo</label>
      <input type="text" id="name_input" value="{{paciente.correo}}" readonly>
    </div>
    <div class="email">
      <label>Edad</label>
      <input type="text" id="name_input" value="{{paciente.edad}}" readonly>
    </div>
    <div class="name">
      <label>Celular</label>
      <input type="text" id="name_input" value="{{paciente.celular}}" readonly>
    </div>
    <div class="email">
      <label>Direccion</label>
      <input type="text" id="name_input" value="{{paciente.direccion}}" readonly>
    </div>
  </div>
  


<!-- aqui tablita-->
<div class="di left">
    <h1 id="title">Lista de Examenes</h1>
</div>

<div class="right">
    <button type="button" class="btn btn-primary" (click)="goNewExam()">Nuevo Examen</button>
</div>

<br>
<div id="course">
  <table mat-table [dataSource]="dataSource" matSort>

      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let row; columns: headers;"></tr>

      <!-- Position Column -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let element">{{element.date}}</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Comentarios">
        <th mat-header-cell *matHeaderCellDef> Comentarios </th>
        <td mat-cell *matCellDef="let element">{{element.coments}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Resultados">
        <th mat-header-cell *matHeaderCellDef> Resultados </th>
        <td mat-cell *matCellDef="let element">{{element.results}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Notificacion">
        <th mat-header-cell *matHeaderCellDef> Notificacion </th>
        <td mat-cell *matCellDef="let element">{{element.notification}}</td>
      </ng-container>
       <!-- Symbol Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element" class="botones">
          <button type="button" class="btn btn-outline-warning" (click)="goViewExam(element)"><mat-icon>remove_red_eye</mat-icon></button> 
          <button type="button" class="btn btn-outline-danger"  (click)="goDeleteExam(element)"><mat-icon>restore_from_trash</mat-icon></button>
        </td>
      </ng-container>
      
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>