
 <div class="container">
 <form class="formulario" [formGroup]='formPatient' >
  
    <div class="titulo" >
        <span>Formulario para Nuevo Paciente</span>
    </div>

    <div class="contenido-informacion">

        <div class="row">
            <h4>Datos Basicos</h4>
            <div class="col-half input-group input-group-icon"><input type="text" placeholder="Nombre del Paciente" formControlName="nombre"/>
              <div class="input-icon"><i class="fa fa-user"></i></div> <div class="validador" *ngIf="formPatient.get('nombre')?.invalid && formPatient.get('nombre')?.touched">Rellenar el campo</div>
            </div>
            <div class="col-half input-group input-group-icon"><input type="text" placeholder="Correo del Paciente" formControlName="correo"/>
              <div class="input-icon"><i class="fa fa-user"></i></div>  <div class="validador" *ngIf="formPatient.get('correo')?.invalid && formPatient.get('correo')?.touched">Rellenar el campo</div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-half input-group input-group-icon"><input type="text" placeholder="Celular del Paciente" formControlName="celular"/>
                <div class="input-icon"><i class="fa fa-user"></i></div> <div class="validador" *ngIf="formPatient.get('celular')?.invalid && formPatient.get('celular')?.touched">Rellenar el campo</div>
            </div>
            <div class="col-half input-group input-group-icon"><input placeholder="Direccion del Paciente" formControlName="direccion"/>
                <div class="input-icon"><i class="fa fa-envelope"></i></div> <div class="validador" *ngIf="formPatient.get('direccion')?.invalid && formPatient.get('direccion')?.touched">Rellenar el campo</div>
            </div>
        </div>
        <div class="row">
            <h4>Nivel y Especialidad Academica</h4>
            <div class="col-half input-group input-group-icon"><input placeholder="Edad del Paciente" formControlName="edad"/>
              <div class="input-icon"><i class="fa fa-envelope"></i></div> <div class="validador" *ngIf="formPatient.get('edad')?.invalid && formPatient.get('edad')?.touched">Rellenar el campo</div>
            </div>
           
        </div>

        
        <div class="row">
            <h4>Genero del Paciente</h4>
                <div class="input-group">
                    <input id="Activo" type="radio" name="estado" value="Masculino" checked="true" formControlName="genero" />
                    <label for="Activo"><span><i class="fa fa-cc-visa"></i>Masculino</span></label>

                    <input id="Inactivo" type="radio" name="estado" value="Femenino" formControlName="genero"/>
                    <label for="Inactivo"> <span><i class="fa fa-cc-paypal"></i>Femenino</span></label>
                    
                </div>
                
        </div>
        
    </div>
    
    <div class="container-button">
        <button type="button" [disabled]='formPatient.invalid' (click)='guardarPaciente()'>Agregar Ponente</button>
    </div>

    
</form>
</div>