  
  <form class="formulario" [formGroup]='formularioExamen' >
  
    <div class="titulo" >
        <span>Generar un nuevo Examen</span>
    </div>

    <div class="contenido-informacion">
        <div class="row">
          <div class="col-third">
            <h4>Polyura</h4>
            <input id="Encurso" type="radio" formControlName="polyura" name="polyura" value="Activo" checked="true" />
            <label for="Encurso"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="Finalizado" type="radio" formControlName="polyura" name="polyura" value="Inactivo"/>
            <label for="Finalizado"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Perdida de Peso</h4>
            <input id="nombre3" type="radio" formControlName="weigtht_loss" name="weigtht_loss"  value="Activo" checked="true" />
            <label for="nombre3"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre4" type="radio" formControlName="weigtht_loss"  name="weigtht_loss" value="Inactivo"/>
            <label for="nombre4"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Polifagia</h4>
            <input id="nombre7" type="radio" formControlName="polyfagia" name="polyfagia" value="Activo" checked="true" />
            <label for="nombre7"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre8" type="radio" formControlName="polyfagia" name="polyfagia" value="Inactivo"/>
            <label for="nombre8"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Desenfoque Visual</h4>
            <input id="nombre11" type="radio" formControlName="visual_blurring" name="visual_blurring" value="Activo" checked="true" />
            <label for="nombre11"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre12" type="radio" formControlName="visual_blurring" name="visual_blurring" value="Inactivo"/>
            <label for="nombre12"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Irritabilidad</h4>
            <input id="nombre15" type="radio" formControlName="irritabilty" name="irritabilty" value="Activo" checked="true" />
            <label for="nombre15"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre16" type="radio" formControlName="irritabilty" name="irritabilty" value="Inactivo"/>
            <label for="nombre16"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Paresia Parcial</h4>
            <input id="nombre19" type="radio" formControlName="partial_paresis" name="partial_paresis" value="Activo" checked="true" />
            <label for="nombre19"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre20" type="radio" formControlName="partial_paresis" name="partial_paresis" value="Inactivo"/>
            <label for="nombre20"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Alopecia</h4>
            <input id="nombre23" type="radio" formControlName="Alopecia" name="Alopecia" value="Activo" checked="true" />
            <label for="nombre23"><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input  id="nombre24" type="radio" formControlName="Alopecia" name="Alopecia" value="Inactivo"/>
            <label for="nombre24"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>
            
          </div>

          <div class="col-third">
            <h4>Polydipsia</h4>
            <input id="nombre1" type="radio" formControlName="polydipsia" name="polydipsia"  value="Activo" checked="true" />
            <label for="nombre1" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre2" type="radio" formControlName="polydipsia" name="polydipsia"  value="Inactivo"/>
            <label for="nombre2"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Sensacion de Debilidad</h4>
            <input id="nombre5" type="radio" formControlName="weakness" name="weakness" value="Activo" checked="true" />
            <label for="nombre5"><span><i class="fa fa-cc-visa"></i>Activo</span></label>
  
            <input id="nombre6" type="radio" formControlName="weakness" name="weakness" value="Inactivo"/>
            <label for="nombre6"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Candidiasis Genital</h4>
            <input id="nombre9" type="radio" formControlName="genital_thrush" name="genital_thrush" value="Activo" checked="true" />
            <label for="nombre9" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre10" type="radio" formControlName="genital_thrush" name="genital_thrush" value="Inactivo"/>
            <label for="nombre10"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Comezón</h4>
            <input id="nombre13" type="radio" formControlName="itchinf" name="itchinf" value="Activo" checked="true" />
            <label for="nombre13" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre14" type="radio" formControlName="itchinf" name="itchinf" value="Inactivo"/>
            <label for="nombre14"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>curación retrasada</h4>
            <input id="nombre17" type="radio" formControlName="delayed_healing" name="delayed_healing" value="Activo" checked="true" />
            <label for="nombre17" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre18" type="radio" formControlName="delayed_healing" name="delayed_healing" value="Inactivo"/>
            <label for="nombre18"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Rigidez Muscular</h4>
            <input id="nombre21" type="radio" formControlName="muscle_stiffness" name="muscle_stiffness" value="Activo" checked="true" />
            <label for="nombre21" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre22" type="radio" formControlName="muscle_stiffness" name="muscle_stiffness" value="Inactivo"/>
            <label for="nombre22"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

            <h4>Obesidad</h4>
            <input id="nombre25" type="radio" formControlName="Obesity" name="Obesity" value="Activo" checked="true" />
            <label for="nombre25" ><span><i class="fa fa-cc-visa"></i>Activo</span></label>

            <input id="nombre26" type="radio" formControlName="Obesity" name="Obesity" value="Inactivo"/>
            <label for="nombre26"> <span><i class="fa fa-cc-paypal"></i>Inactivo</span></label>

          </div>

          <div class="col-third">
            <h2>Datos Adicionales</h2>
            <h4>Resultados</h4>
              <input type="text" readonly formControlName="results" placeholder="Respuesta"/>
           
            <h4>Comentarios</h4>
              <textarea formControlName="coments" placeholder="Ingresar comentarios sobre los resultados"></textarea>
            <h4>Fecha de Examen</h4>
              <input type="date" formControlName="date" placeholder="Fecha de Inicio"/>
            <div class="row fila-botones">
              <div class="col-half">
                <button class="boton-generar"type="button" (click)='guardarExamen()'>Generar Resultados</button>
              </div>
              <div class="col-half">
                <button class="boton-guardar" type="button" (click)='guardarExamen()'>Guardar Datos</button>
              </div>
            </div>
          
          </div>
        
        </div>

    </div>

</form>
