<div class="centrar_formulario">
    <div class="form-signin text-center">
        <img class="mb-4" src="../assets/logo_fondo_transparente.png" alt="" width="100">
        <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
        <button type="button" class="w-100 btn btn-lg btn-primary" (click)="goSesionLogin()">Iniciar Sesión</button><div style="padding-top:10px"><div>
        <button type="button" class="w-100 btn btn-lg btn-success" (click)="goSesionRegister()">Registrarse</button>
    </div>
</div>