<footer class="bg-dark text-white py-4">
    <div class="container">
        <nav class="row">
            <!--Logo-->
            <a class="col-3 text-reset text-uppercase d-flex align-items-center">
                <img src="assets/logo-diabetes.png" alt="Logo Diabetes" class="img-logo">
                Diabetes System
            </a>
            <!--Menu-->
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Resources</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
                <li><a href="#" class="text-reset">Link 3</a></li>
                <li><a href="#" class="text-reset">Link 4</a></li>
            </ul>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Resources</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
                <li><a href="#" class="text-reset">Link 3</a></li>
                <li><a href="#" class="text-reset">Link 4</a></li>
            </ul>
            <!--Redes Sociales-->
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                <li>
                    <a href="#" class="text-reset"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="text-reset"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="text-reset"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="text-reset"><i class="fa fa-google"></i></a>
                </li>
                
            </ul>


        </nav>
    </div>
</footer>