<div class="centrar_formulario">
<div class="form-signin text-center">
    <img class="mb-4" src="../assets/logo_fondo_transparente.png" alt="" width="100">
    <h1 class="h3 mb-3 fw-normal">Registrarse</h1>
    <div class="form-floating">
        <input id="floatingInput" placeholder="Usuario" #user type="text" class="form-control">
        <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
        <input placeholder="Contraseña" #pass type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
    </div>
    <button type="button" class="w-100 btn btn-lg btn-primary" (click)="registrar(user.value,pass.value)">Registrarse</button><div style="padding-top:10px"><div>
</div>
</div>